body,html{
    height: 120%;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#container{
    width: 100%;
    height: 120%;
}
/*CSS for login page */
.bgPass{ 
    background-image: url("image/Background_full.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}/* back-ground for passwork page*/
.logPassDiv{
    background-color: rgba(255, 255, 255, 0.692);
    max-width: 400px;
    width: 70%;
    padding: 25px;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 30px;
    
}
h1#loginh1{
    text-align: center;
}
form input[type=text], [type=password]{
    color: black;
    width: 90%;
    height: 20px;
    border: 1px solid rgb(27, 48, 243);
    padding-left: 10px;
    margin: 10px 0;
    border-radius: 15px;

}
form input[type=submit]{
    width: 30%;
    height: 20px;
    cursor: pointer;
    background-color: rgb(19, 98, 151);
    color: white;
    border: 0;
    border-radius: 15px;

}
form input[type=submit]:hover{
    background-color: black;
}
form input[type=text]:hover, [type=password]:hover{
    background-color: rgb(214, 211, 211);
    color: black;
}
#error{
    color: red;
}
/*CSS for menu page*/
.bgMenu{/* back-ground for Menu page*/
    background-image: url("image/Background_full_menu.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-bottom: 55px;
}

.menuClass{/*CSS for Div menu*/
    float: left;
    width: 400%;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    max-width: 600px;
    min-width: 250px;
    padding: 25px;
    margin: 15px;
}

.total{/*CSS for Div total to pay*/
    float: left;
    width: 200%;
    background-color: rgb(187, 187, 187);
    max-width: 400px;
    min-height: 100px;
    border-radius: 25px;
    margin: 15px;
}
p, #tblTotal, h1{
    margin: 15px;
}

.ramdonUserDiv{/*CSS for Div Ramdon user */
    float: right;
    width: 400%;
    margin: 15px;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    max-width: 500px;
    min-width: 250px;
    padding: 25px;

}
#ramdonUser{
    color: black;
    font-size: large;
}
/*CSS for Table on menu page*/
.optionTitle, h1{
    font-family:cursive;
    text-align: justify;
    color: rgb(92, 50, 30);
    font-size: 50px;
    font-weight: bold;
}
.optionNum{
    text-align: right;
    font-size: 18px;
}
.optionDish{
    text-align: justify;
    font-size: 20px;
}
.tdImag{
    width: 50px;
    text-align: justify;
}
/*CSS for footer on menu page */
footer{
    background-image: url("image/footer_full.jpg");
    width: 100%;
    height: 55px;
    bottom: 0%;
    position: fixed;
    
}
ol#detail{
    display: inline-flex;
    list-style: none;
    margin-top: 0%;
    text-align: left;
    font-weight: bolder;
    size: 30px;
}
.descri{
    margin-top: 4%;
    margin-right: 50px;
    font-weight: normal;
}

/* CSS for buttons*/
#login, #userShow{
    font-size: .9em;
    background-color: black;
    color: white;
    border: 0;
    margin-bottom: .3em;
    margin-top: .3em;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    text-align: center;
    justify-content: center;
    border-radius: 6px;
}
#userShow{
    margin: .3em;
    font-size: 1.3em;
}
.buttonAdd, #newOrder{
    background-color: black;
    color: white;
    border: 0;
    margin-bottom: .3em;
    margin-top: .3em;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    text-align: center;
    justify-content: center;
    border-radius: 6px;
}
#login:hover, .buttonAdd:hover, #userShow:hover, #newOrder:hover{

    background-color: rgb(180, 179, 179);
    color: blue;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;

}