
body,html{
    height: 100%;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/*CSS for login page */
.bgPass{
    background-image: url("image/Background_full.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.logPass{
    background-color: rgba(255, 255, 255, 0.692);
    max-width: 300px;
    width: 70%;
    padding: 25px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 30px;
}
h1#loginh1{
    text-align: center;
}
form input[type=text], [type=password]{
    color: black;
    width: 90%;
    height: 20px;
    border: 1px solid rgb(27, 48, 243);
    padding-left: 10px;
    margin: 10px 0;
    border-radius: 15px;

}
form input[type=submit]{
    width: 30%;
    height: 20px;
    cursor: pointer;
    background-color: rgb(19, 98, 151);
    color: white;
    border: 0;
    border-radius: 15px;

}
form input[type=submit]:hover{
    background-color: black;
}
form input[type=text]:hover, [type=password]:hover{
    background-color: rgb(214, 211, 211);
    color: black;
}
/*CSS for menu page*/
.bgMenu{
    background-image: url("image/Background_full_menu.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.menuClass{
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    max-width: 500px;
    min-width: 250px;
    position: absolute;
    padding: 25px;
    top: 3%;
    left: 3%;
}
.optionTitle{
    text-align: justify;
    color: rgb(92, 50, 30);
    size: 30px;
}
ol{
    size: 10px;
    text-align: justify;

}
li{
    margin-top: 10px;
}
.footer{
    background-color: rgb(154, 225, 247);
    width: 100%;
    height: 60px;
    bottom: 0px;
    position: fixed;
    
}
ol#detail{
    display: inline-flex;
    list-style: none;
    margin-top: 0%;
    text-align: left;
    font-weight: bolder;
    size: 30px;
}
.descri{
    margin-top: 4%;
    margin-right: 50px;
    font-weight: normal;
}